body{
font-family:Arial;
background:#0a0a0f;
color:#e8e8f0;
margin:0;
text-align:center;
}

header{
background:#12121a;
padding:15px;
border-bottom:1px solid #2a2a3d;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.card{
background:#1a1a26;
padding:20px;
border-radius:10px;
margin-top:20px;
border:1px solid #2a2a3d;
}

input,select{
padding:10px;
margin:10px;
font-size:16px;
border-radius:6px;
border:none;
}

button{
padding:12px 18px;
font-size:16px;
border:none;
border-radius:6px;
cursor:pointer;
margin:10px;
}

.green{background:#00aa66;color:white}
.red{background:#ff4466;color:white}
.blue{background:#0099cc;color:white}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th,td{
border:1px solid #333;
padding:6px;
}

.success{color:#00ff9d;font-size:20px}
.error{color:#ff4466}

.hidden{display:none}

.token{
font-size:60px;
color:#00e5ff;
font-weight:bold;
}
